.container-fluid {
    padding-left: 0%;
    padding-right: 0%;

}

#car01 h4 {
    font-family: 'Kanit';
    color: #0C304D;
    text-align: left;
    font-size: 30px;
}

#car01 p {
    font-family: 'Open Sans' cursive;
    color: #0C304D;
    text-align: left;
}

#car02 h4 {
    font-family: 'Kanit';
    color: white;
    text-align: left;
    font-size: 30px;
}

#car02 p {
    font-family: 'Open Sans';
    color: white;
    text-align: left;
}

footer {
    background-color: #aaa;
}

#pagebreak {
    padding-top: 0;
    background-color: #8BC1BC;
}

#carousel {
    padding-bottom: 0;
}

#secciones2 {
    padding-top: 0;

}

#secciones {
    padding-bottom: 0;
}

.destacados {
    background-color: #ddf0ee;
}

.destacados h2 {
    font-family: 'Kanit';
    color: #0C304D;
    text-align: center;
}

.destacados p {
    font-family: 'Open Sans';
    color: #12827C;
    text-align: center;
}

.card1 p {
    font-family: 'Open Sans';
    color: #12827C;
    font-size: small;
}

.card1 h4 {
    font-family: 'Kanit';
    color: #0C304D;
}

.card2 p {
    font-family: 'Open Sans';
    color: #12827C;
    font-size: small;
}

.card2 h4 {
    font-family: 'Kanit';
    color: #0C304D;
}

.card3 p {
    font-family: 'Open Sans';
    color: #12827C;
    font-size: small;
}

.card3 h4 {
    font-family: 'Kanit';
    color: #0C304D;
}

.card4 p {
    font-family: 'Open Sans';
    color: #12827C;
    font-size: small;
}

.card4 h4 {
    font-family: 'Kanit';
    color: #0C304D;
}

.armrec img {
    filter: grayscale();
    transition: all .2s ease-in-out;
    margin-right: 1rem;
    opacity: 0.7;
}

.armrec:hover img {
    filter: none;
    margin-right: 1.4rem;
    opacity: 1;
}

.antsol img {
    filter: grayscale();
    transition: all .2s ease-in-out;
    margin-right: 1rem;
    opacity: 0.7;
}

.antsol:hover img {
    filter: none;
    margin-right: 1.4rem;
    opacity: 1;
}

.imggran img {
    filter: grayscale();
    transition: all .2s ease-in-out;
    margin-right: 1rem;
    opacity: 0.7;
}

.imggran:hover img {
    filter: none;
    margin-right: 1.4rem;
    opacity: 1;
}

/*.zoom1 img {
    filter: none;
    transition: transform .2s

}

.zoom1:hover img{
    transform: scale(1.1);
}*/


h1,
h2 {
    font-family: 'Kanit';
    color: #0C304D;
}

#historia p {
    font-family: 'Open Sans';
    color: #12827C;
}

#historia h2 {
    color: #0C304D;
    font-family: 'Kanit';
}

#lowbutton {
    position: absolute;
    bottom: 10px;
    left: 10px;
}

#conocenos {
    background-color: #0C304D;
    color: white;
    
}

#conocenos h2 {
    color: white;
    font-family: 'Kanit';
}


#custCarousel .carousel-indicators {
    position: static;
    margin-top: 20px;
}

#custCarousel .carousel-indicators>li {
    width: 100px;
}

#custCarousel .carousel-indicators li img {
    display: block;
    opacity: 0.5;
}

#custCarousel .carousel-indicators li.active img {
    opacity: 1;
}

#custCarousel .carousel-indicators li:hover img {
    opacity: 0.75;
}

.carousel-item img {

    width: 80%;
}

body {
    background-color: #ecedee;
    padding-top: 60px;
    
}

.card {
    border: none;
    overflow: hidden
}

.thumbnail_images ul {
    list-style: none;
    justify-content: center;
    display: flex;
    align-items: center;
    margin-top: 10px
}

.thumbnail_images ul li {
    margin: 5px;
    padding: 10px;
    border: 2px solid #eee;
    cursor: pointer;
    transition: all 0.5s
}

.thumbnail_images ul li:hover {
    border: 2px solid #000
}

.main_image {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #eee;
    height: 400px;
    width: 100%;
    overflow: hidden
}

.heart {
    height: 29px;
    width: 29px;
    background-color: #eaeaea;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center
}

.content p {
    font-size: 12px
}

.ratings span {
    font-size: 14px;
    margin-left: 12px
}

.colors {
    margin-top: 5px
}

.colors ul {
    list-style: none;
    display: flex;
    padding-left: 0px
}

.colors ul li {
    height: 20px;
    width: 20px;
    display: flex;
    border-radius: 50%;
    margin-right: 10px;
    cursor: pointer
}

.colors ul li:nth-child(1) {
    background-color: #6c704d
}

.colors ul li:nth-child(2) {
    background-color: #96918b
}

.colors ul li:nth-child(3) {
    background-color: #68778e
}

.colors ul li:nth-child(4) {
    background-color: #263f55
}

.colors ul li:nth-child(5) {
    background-color: black
}

.right-side {
    position: relative;
}

